<div class="home">
    <div class="container">
      <div class="glimps my-5 container d-flex flex-column justify-content-between align-items-stretch">
        <div class="card shadow text-center glimpsCard" data-aos="fade-right">
          <div class="card-body py-5">
            <i class="p-5 fas fa-brain"></i>
            <h2 class="card-title my-3">Smart Solutions</h2>
            <p class="m-0">Automatic labelling and packing machineries.</p>
          </div>
        </div>
        <div class="card shadow my-5 text-center glimpsCard" data-aos="fade-right">
          <div class="card-body py-5">
            <i class="p-5 fas fa-award"></i>
            <h2 class="card-title my-3">Award Winning</h2>
            <p class="m-0">Awarded by leading brands all over the gloab.</p>
          </div>
        </div>
        <div class="card shadow text-center glimpsCard" data-aos="fade-right">
          <div class="card-body py-5">
            <i class="p-5 fas fa-headset"></i>            
            <h2 class="card-title my-3">Great Support</h2>
            <p class="m-0">Our trained employees are always present to help our customers solve all their problem related to machinery.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="aboutBackground">
      <div class="container">
        <div class="aboutHome py-5 container">
          <h2 class="text-center mb-5">ABOUT COMPANY</h2>
          <h1 data-aos="zoom-in">CONNECT WITH <span style="color:orangered">INDUSTE.</span></h1>
          <h3 data-aos="zoom-in">WE HAVE <span style="color:#ff9900">05 YERAS</span> OF EXPERIENCE WITH 100% CUSTOMER SATISFACTION.</h3>
          <p data-aos="zoom-in">Established in the year 2016, HK Industries is counted amongts the well-favored Manufacturere, Supplier frims producing ground breaking quality of Labelling and Auto Cartoning Machine.</p>
          <p data-aos="zoom-in">Our offered broad variety of products are a proof of our progress to develop next generation equipment.</p>
          <p data-aos="zoom-in">Our product includes Labelling, Re-winder machine, Shrink Sleeve Applicator, Packing Belt Conveyors, Shrink Sleeve Applicator, Packing Belt Conveyor, Sticker Labelling Machine, Capping Machine, Filling Machine, Shrink Tunnel, Battery Washing And Drying Machine.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="homeServices my-5">
        <h2 class="text-center mb-4">OUR SERVICES</h2>
        <h3 class="text-center mb-4">What We Do?</h3>
        <section id="roadmap" class="timeline pb-4">
          <ul>
            <li class="in-view" data-aos="fade-right" >
              <a href="/products#conMac">
                <div class="text-center py-4">
                  <h4>Conveyor Machines</h4>
                  <img src='data:{{conveyorImage.contentType}};base64,{{conveyorImage.imageBase64}}' alt="">
                </div>
              </a>
            </li>
            <li class="in-view" data-aos="fade-right" >
              <a href="/products#labMac">
                <div class="text-center py-4">
                  <h4>Labelling Machines</h4>
                  <img src='data:{{labellingImage.contentType}};base64,{{labellingImage.imageBase64}}' alt="">
                </div>
              </a>  
            </li>
            <li class="in-view" data-aos="fade-right" >
              <a href="/products#filMac">
                <div class="text-center py-4">
                  <h4>Liquid Filling Machines</h4>
                  <img src='data:{{fillingImage.contentType}};base64,{{fillingImage.imageBase64}}' alt="">
                </div>
              </a>
            </li>
            <li class="in-view" data-aos="fade-right" >
              <a href="/products#batMac">
                <div class="text-center py-4">
                  <h4>Battery Machines</h4>
                  <img src='data:{{batteryImage.contentType}};base64,{{batteryImage.imageBase64}}' alt="">
                </div>
              </a> 
            </li>
          </ul>
      </section>
      </div>
    </div>
    <div class="howBackground">
      <div class="container">
        <div class="how container py-5 ">
          <h2 class="text-center mb-5">HOW IT WORKS?</h2>
          <div class="d-flex flex-column flex-sm-row justify-content-around align-content-center">
            <div class="text-center" data-aos="zoom-in">
                <i class="p-4 fas fa-clipboard-list"></i>
                <p class="mt-3">Planing</p>
            </div>
            <div class="text-center" data-aos="zoom-in">
                <i class="p-4 fas fa-tools"></i>
                <p class="mt-3">Devlopment</p>
            </div>
            <div class="text-center" data-aos="zoom-in">
                <i class="p-4 fas fa-rocket"></i>
                <p class="mt-3">Launch</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="customer container my-5 text-center" >
        <h2>HAPPY CUSTOMER</h2>
        <h4 data-aos="zoom-in">SAY ABOUT US.</h4>
        <div data-aos="zoom-in">
            <p id="review" class="m-0">Excellent work by the company and team</p>
            <h4 id="customerName" class="m-0 py-2">Aeda Shelby</h4>
            <p id="customerCompany" class="m-0 pb-1">Shelby Limited,London</p>        
            <div class="customerData" data-aos="zoom-in">
                <img src="images/customer.png" alt="#" onmouseover="customer(0);">
                <img src="images/customer.png" alt="#" onmouseover="customer(1);">
                <img src="images/customer.png" alt="#" onmouseover="customer(2);">
                <img src="images/customer.png" alt="#" onmouseover="customer(3);">
                <img src="images/customer.png" alt="#" onmouseover="customer(4);">
                <img src="images/customer.png" alt="#" onmouseover="customer(5);">
            </div>    
          </div>
      </div>
    </div>
</div>