<div class="services">
    <div class="container">
      <div class="servicesItems">
        <div class="container my-5">
          <h2 class="text-center mb-5">OUR SERVICES</h2>
          <section id="roadmap" class="timeline">
            <ul>
              <li class="in-view" data-aos="fade-right" >
                <a href="/products#conMac">
                  <div class="text-center py-4">
                    <h4>Conveyor Machines</h4>
                    <img src='data:{{conveyorImage.contentType}};base64,{{conveyorImage.imageBase64}}' alt="">
                  </div>
                </a>
              </li>
              <li class="in-view" data-aos="fade-right" >
                <a href="/products#batMac">
                  <div class="text-center py-4">
                    <h4>Battery Machines</h4>
                    <img src='data:{{batteryImage.contentType}};base64,{{batteryImage.imageBase64}}' alt="">
                  </div>
                </a>  
              </li>
              <li class="in-view" data-aos="fade-right" >
                <a href="/products#filMac">
                  <div class="text-center py-4">
                    <h4>Liquid Filling Machines</h4>
                    <img src='data:{{fillingImage.contentType}};base64,{{fillingImage.imageBase64}}' alt="">
                  </div>
                </a>
              </li>
              <li class="in-view" data-aos="fade-right" >
                <a href="/products#fedMac">
                  <div class="text-center py-4">
                    <h4>Feeder Machines</h4>
                    <img src='data:{{feederImage.contentType}};base64,{{feederImage.imageBase64}}' alt="">
                  </div>
                </a> 
              </li>
              <li class="in-view" data-aos="fade-right" >
                <a href="/products#labMac">
                  <div class="text-center py-4">
                    <h4>Labelling Machines</h4>
                    <img src='data:{{labellingImage.contentType}};base64,{{labellingImage.imageBase64}}' alt="">
                  </div>
                </a> 
              </li>
              <li class="in-view" data-aos="fade-right" >
                <a href="/products#shrMac">
                  <div class="text-center py-4">
                    <h4>Shrink Machines</h4>
                    <img src='data:{{shrinkImage.contentType}};base64,{{shrinkImage.imageBase64}}' alt="">
                  </div>
                </a> 
              </li>
              <li class="in-view" data-aos="fade-right" >
                <a href="/products#othMac">
                  <div class="text-center py-4">
                    <h4>other Machineries</h4>
                    <img src='data:{{otherImage.contentType}};base64,{{otherImage.imageBase64}}' alt="">
                  </div>
                </a> 
              </li>
            </ul>
        </section>
        </div>
      </div>
    </div>
</div>